<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
  <title>Now We're Burger Loggin!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burgers.js"></script>
</head>

<body>
  <h1>Burgers!</h1>

  <figure class="container-fluid">
    <img src="" alt="/public/assets/images_gifs/staticgifburger.png"
      data-alt="/public/assets/images_gifs/gifburger.gif">
  </figure>

  {{{ body }}}

  <script>
    var getGif = function () {
      var gif = []
      $("img").each(function () {
        var data = $(this).data("alt")
        gif.push(data);
      });
      return gif;
    }
    var gif = getGif();
  </script>
</body>

</html>